@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,800;1,400&display=swap');
* {
    margin: 0;
    padding: 0;
}

:root {
    --midnight-green-eagle-green: #104f55ff;
    --myrtle-green: #32746dff;
    --cambridge-blue: #9ec5abff;
    /* rgb(50,116,109) */
    --dark-green: #01200fff;
    --dark-jungle-green: #011502ff;
}

body {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color: var(--dark-jungle-green);
}

.vh-80 {
    height: 80vh;
}

.navbar {
    padding: 1rem !important;
    position: sticky;
    top: 0;
    z-index: 456;
}

.btn-filled {
    border: 2px solid var(--midnight-green-eagle-green);
    background: none;
    position: relative;
    padding: 0.5rem 1.5rem;
    color: white;
    transition: all 0.3s;
    transition-property: color;
}

.btn-filled:hover {
    color: var(--dark-jungle-green);
}

.btn-filled::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--midnight-green-eagle-green);
    z-index: -1;
    top: 0;
    left: 0;
    transform: scaleY(1);
    transform-origin: 0 0;
    transition: transform 0.3s;
}

.btn-filled:hover::after {
    transform: scaleY(0);
}

.navbar-logo {
    width: 4rem;
    height: auto;
}

.weather-app {
    width: 100%;
    height: 100vh;
    background: rgb(50, 116, 109);
    background: linear-gradient(175deg, rgba(50, 116, 109, 1) 0%, rgba(158, 197, 171, 1) 76%);
}

.weather-container-main {
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.weather-main-container {
    width: 30rem;
    height: 19rem;
    background: linear-gradient(rgba(50, 116, 109, 5.5), rgba(50, 116, 109, 0.5)), url("../Images/container-img.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px;
    color: white;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.weather-sub-container {
    display: flex;
    justify-content: space-between;
}

.weather-heading h1 {
    font-size: 4.5rem;
    font-weight: lighter;
    margin-left: 1.3rem;
}

.weather--city-container {
    text-align: right;
}

.weather--city-container p {
    font-weight: lighter;
}

.weather--city-container h1 {
    font-weight: bold;
}

.extra-detail--container {
    text-align: right;
}

.extra-detail--container ul li {
    list-style: none;
}

@media only screen and (max-width: 499px) {
    .weather-sub-container {
        flex-direction: column;
        align-items: center;
    }
    .weather-heading h1 {
        margin-left: 0;
    }
    .weather--city-container {
        text-align: center;
    }
    .extra-detail--container {
        text-align: center;
    }
    .weather-main-container {
        height: auto;
        width: 100%;
    }
}